<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, 'Nutzer') %>

        <h1>Übersicht der Nutzer</h1>

        <%= will_paginate %>

        <ul class="users">
          <%= render @users %>
        </ul>

        <%= will_paginate %>
    <% end %>
<% end %>