<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "Mein Konto", current_user %></span>
<span>  <% if current_user.microposts.count < 2 %>
      <%= pluralize(current_user.microposts.count, "") %> Impression
  <% elsif current_user.microposts.count > 1 %>
      <%= pluralize(current_user.microposts.count, "") %> Impressionen
  <% end %>
</span>


